DATABASE_URL="file:./dev.db"
NODE_ENV="development" # or "production"
JWT_ACCESS_SECRET_KEY="secret_key"
JWT_REFRESH_SECRET_KEY="secret_key"
JWT_REFRESH_EXPIRES_IN="15m"
JWT_ACCESS_EXPIRES_IN="180d"
SALT_ROUNDS=111
FRONTEND_URL="http://localhost:3000"
ALLOWED_ORIGINS="http://localhost:3000,http://localhost:3001,https://yourdomain.com"